@font-face {
    font-family: 'TipoGrafTITULO';
    src: url('/FuentesStopFraude/Votrag.ttf');
    font-size: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'TipoGrafTexto';
    src: url('/FuentesStopFraude/Typo_Round_Regular_Demo.otf');
    font-size: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'TipoGrafparrafo';
    src: url('/FuentesStopFraude/Louis\ George\ Cafe.ttf');
    font-size: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'TipoGraftitulo2';
    src: url('/FuentesStopFraude/Louis\ George\ Cafe.ttf');
    font-size: bold;
    font-weight: bold;
}

body {
background: linear-gradient(to right,
        #37146D 20%,
        #30125F 31%,
        #260E4C 40%,
        #220C44 64%,
        #180A36 79%,
        #010102 100%
    );
    color: white;
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: 'TipoGrafTITULO';
    font-weight: bold;
}

    .barra-superior {
    height: 80px; /* más alto */
    padding: 0 40px; /* más separación horizontal */
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a892d6;
    box-sizing: border-box;
}


.rectangulo-stopfraude {
    background-color: #2e014b;
    color: white;
    padding: 1px 3px;
    border-radius: 8px;
    font-family: 'TipoGrafTITULO';
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}


.texto-estadistica {
    background-color: transparent;      /* Sin fondo inicialmente */
    color: white;                       /* Texto visible */
    padding: 1px 3px;
    border: none;
    border-radius: 8px;
    font-family: 'TipoGrafTITULO';
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;                    /* Mano al pasar encima */
    transition: all 0.3s ease-in-out;   /* Suave animación */
}


.texto-estadistica:hover {
    background-color: #2e014b;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    color: white; /* Por si algún color de fondo claro aparece */
}


    .mensaje_inicio{
    font-family: 'TipoGrafTexto';
    font-size: 300%;
    font-weight: bold;
    margin-top: 50px;
    }

    .Eslogan{
    font-family: 'TipoGrafparrafo';
    font-size: 190%;
    font-weight: bold;
    margin-top: 50px;
    }

.cuadro {
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;             /* ocupa el 90% del ancho del body */
    max-width: 1200px;      /* opcional: no se pasa de cierto tamaño */
    margin: 40px auto;      /* centrado horizontal */
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.izquierda {
    background: #e0d0e0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.izquierda, .derecha {
    border: 2px solid #a892d6;
}
.Boton {
    background-color: #30125F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'TipoGrafTexto';
    font-size: 1.2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}
.Boton:hover {
    background-color: #663a9b;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    color: white; /* Por si algún color de fondo claro aparece */
}

.derecha {
    background: #e0d0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Para que el contenido comience desde arriba */
    align-items: center;
    text-align: center;
    position: relative; /* Para posicionar elementos internos */
    color: #000000;
    font-family: "TipoGraftitulo2";
    font-weight: bold;
}

.nivel {
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}

.bajo {
    color: green;
}
.ProbFraude{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}
.porcentaje {
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #750101;
    font-family: "TipoGraftitulo2";
}

.Motivos{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}

.class{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}

.Recomendacion{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}

.DescripMotivos{
    font-size: 1.2rem;
    align-self: flex-start;
    margin: 10px 0;
    color: #000000;
    font-family: "TipoGraftitulo2";
}